<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styleZen.css">
    <script src="../static/ZenJS.js"></script>
</head>
<body class="no_y">
    <div class="grid-container home-grid">
        <header>
            <img class="logo" src="../static/x-diamond-fill.png" alt="logo"/>
            <h1 class="pinkWord logoText">OWLCOME</h1>
        </header>
        <nav>
            <div id="navLinks">
                <a href="javascript:void(0);" class="icon" onclick="openMenu()">
                    <img class="hamburg" src="../static/hamburg.png" alt="hamburger"/>
                </a>
                <a id="Home" href="home.html" class="navL">Home</a>
                <a id="Connect_Us" href="contact.html" class="navL">Connect Us</a>
            </div>
        </nav>
        <aside>
            <span>We make<br> your inner <br>owl </span>
            <span class="pinkWord"> shine!</span>
            <br>
            <a href="contact.html">
                <button>
                    <span>Connect Us</span>
                </button>
            </a>
        </aside>
        <figure >
            <img src="../static/owly.png" alt="owl"/>
        </figure>
    </div>
</body>
</html>